<%- include('../partials/header.ejs') %>
<div style="margin: 1%;"></div>
<%- include('../partials/navigation.ejs') %>
<main>

  <h1> New Product </h1>
  <form action="/api/products" method="POST">
    <div>
      <label for="name">Name</label>
      <select name="product_name" id="product_name" onchange="setProductType(this)" required>
         <option value="" selected >Select Product Name</option>
      <% productMasters.forEach(function(product) { %>
              <option name = "<%= product.name %>|<%= product.product_type %>" value="<%=product.name %>|<%= product.product_type %>"><%= product.name %></option>
              <% })%>
      </select>

    </div>
    <div>
      <label for="product_type">Product Type</label>

      <input type="text" id="type" name="type" placeholder="Enter  Product Type" disabled/>
      <input type="hidden" id="product_type" name="product_type"/>

    </div>

    <div>
      <label for="size">Size</label>
      <input type="text" name="size" placeholder="Enter Size" required/>
    </div>

    <div>
      <label for="name">Guage</label>
      <input type="text" name="guage" placeholder="Enter Guage" required/>
    </div>
    <div>
      <label for="weight_based_on_guage">Weight</label>
      <input type="text" name="weight_based_on_guage" placeholder="Enter Weight  based on Guage" required/>
    </div>

    <div>
      <label for="name">Rate</label>
      <input type="text" name="rate" placeholder="Enter Rate" required/>
    </div>
    

    <button type="submit" class="btn btn-primary btn-block mt-4">Add Product</button>

  </form>

</main>

</body> 
</html>