
<%- include('../partials/header.ejs') %>
<div style="margin: 1%;"></div>
<%- include('../partials/navigation.ejs') %>
<main>
  <div class="ui segment">
    <%= user.first_name %> 
    <%= user.last_name %>
  </div>
</main>
<footer >
  <%- include('../partials/footer') %>
</footer>
</body> 
</html>