<%- include('../partials/header.ejs') %>
<div style="margin-top: 1%;"></div>
<%- include('../partials/navigation.ejs') %>
<main>
  <input type="text" id="myInput" onkeyup="searchByfirstColumn()" placeholder="Search for names.." title="Type in a name">

  <table id="myTable">
    <tr class="header">
    <th> Sino </th>
      <th >Name</th>
      <th >Type</th>
      <th></th>
    </tr>
    <% for(let count = 0; count < rows.length; count++ ){ %>
    <tr>
      <td><%= count+1 %> </td>
      <td> <%= rows[count].dataValues['product']  %> </td>
      <td> <%= rows[count].dataValues['productType']  %> </td>
      <td> <a href="/api/productsmaster/<%= rows[count].dataValues['productId'] %>" >Edit</a>,
        <a  href="/api/productsmaster/<%= rows[count].dataValues['productId'] %>/delete">Delete</a> </td>
      </tr>
      <% } %>
    </table>

  </main>
  
</body> 
</html>