<%- include('../partials/header.ejs') %>
<div style="margin: 1%;"></div>
<%- include('../partials/navigation.ejs') %>
<main>

  <h1> New Product </h1>
  <form action="/api/inventories" method="POST">
    <div>
      <label for="name">Name</label>
      <select name="description" id="description" onchange="setProductDetails(this)" required>
         <option value="" selected >Select Product Name</option>
      <% productMasters.forEach(function(product) { %>
              <option name = "<%= product.id %>|<%= product.size %>|<%= product.guage %>" value="<%= product.id %>|<%= product.name %>|<%= product.product_type %>|<%= product.size %>|<%= product.guage %>|<%= product.weight_based_on_guage %>"><%= product.name %> *** <%= product.guage %> *** <%= product.size %></option>
              <% })%>
      </select>
    </div>

    <div>
      <label for="name">Guage</label>
      <input type="text" name="pr_guage" id="pr_guage"  placeholder="Enter Guage" disabled/>
    </div>

    <div>
      <label for="size">Size</label>
      <input type="text" name="pr_size" id="pr_size" placeholder="Enter Size" disabled/>
    </div>

    <div>
      <label for="name">Qtyin nos</label>
      <input type="text" name="qty" id="qty"  placeholder="Enter Qty in nos" required/>
      <input type="text" name="product_id" id="product_id"  hidden/>
    </div>


    <div>
      <label for="weight_kgs">Weight in Kgs</label>
      <input type="text" name="weight_kgs" id="weight_kgs" placeholder="Enter Weight  in Kgs" required/>
    </div>


    

    <button type="submit" class="btn btn-primary btn-block mt-4">Add Product</button>

  </form>

</main>

</body> 
</html>